{{!-- Notes Tab --}}
<div class="fl-tab-content" data-tab="notes" data-group="primary">
  <div class="fl-notes-content">
    {{editor enrichedNotes target="system.notes" button=true editable=editable}}
  </div>
</div>
