{{!-- Weapon Sheet Header --}}
<div class="fl-item-header">
  <img src="{{item.img}}" alt="{{item.name}}" data-edit="img">
  <div>
    <input type="text" name="name" value="{{item.name}}" placeholder="Weapon Name">
    <span class="fl-item-type">Weapon</span>
  </div>
</div>
